@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

$heading-color: #232323;
$text-color: rgba(35, 35, 35, 0.7);
$color-contrast-1: #659DBD;
$color-contrast-1-dark: #5B8DAA;
$color-contrast-2: #E7717D;
$color-inactive: #EAEAEA;

$padding-side: 12.8rem;

@mixin respond ($device) {
    // 1400px
    @if $device == desk-small {
        @media only screen and (max-width: 87.5em) {@content}
    };
    // 1000px
    @if $device == tab-land {
        @media only screen and (max-width: 62.5em) {@content}
    };
    // 750px
    @if $device == tab-port {
        @media only screen and (max-width: 46.875em) {@content}
    };
    // 600px
    @if $device == mob-land {
        @media only screen and (max-width: 37.5em) {@content}
    };
    // 500px
    @if $device == mob-port {
        @media only screen and (max-width: 31.25em) {@content}
    };
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond(desk-small) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(tab-port) {
        font-size: 43.75%;
    }
}

.title {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.15;
    color: $heading-color;
}

.text {
    font-size: 1.8rem;
    color: $text-color;
    font-weight: 400;
}