.gallery__images {
    display: flex;
    padding: 0 $padding-side;
    overflow: hidden;

    @include respond(tab-land) {
        padding: 0 8rem;
    }

    @include respond(mob-land) {
        padding: 0 5rem;
    }
}