.button {
    box-sizing: border-box;
    padding: 2.1rem 6.4rem;
    color: $text-color;
    outline: 1px solid $color-inactive;
    border: none;
    background-color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        outline-color: $color-contrast-1;
    }
}