.gallery__photo {
    width: 31.3rem;
    height: 33.6rem;
    display: block;
    padding: 0;
    padding-right: 3.2rem;
    object-fit: cover;
    transition: all .5s;

    @include respond(tab-port) {
        width: 25rem;
        height: 26.84rem;
        padding-right: 2.5rem;
    }
}