.form__input {
    display: block;
    width: 100%;
    padding: 2.1rem 2.4rem;
    border: 1px solid $color-inactive;
    border-radius: 0;
    background-color: transparent;

    &::placeholder {
        font-size: 16px;
        color: rgba(35, 35, 35, 0.4);
        font-weight: 400;
        opacity: 1;
    }
}