.tour__description {
    font-size: 1.6rem;
    line-height: 1.38;
    color: $text-color;
    max-width: 31.3rem;
    margin-top: 1.6rem;

    @include respond(mob-land) {
        grid-row: 2/3;
        grid-column: 2/3;
        margin-top: 0;
        max-width: 25rem;
    }
}
